# Week 1 test
---
## Instruction
1. Write the required programming codes on next cell after the question.
2. Execute the cell and keep the output
3. rename the notebook with your name at the suffix (ex: test_week1_binay.ipynb)
4. The whole test will be an unscored challenge, so attempt all.
5. Time limit is **1.5 hrs**
---

**1. Find the missing number in a given range of 1 to 10?**

In [1]:
## approach 1
num = []
print("Provide a number 10 times. If you want't to skip a number then provide 0")
for i in range(10):
    num.append(int(input().strip()))
actual = sum(range(11))
print("missing: ", actual - sum(num))

Provide a number 10 times. If you want't to skip a number then provide 0

 1
 2
 3
 4
 0
 6
 7
 8
 9
 10

missing:  5

In [4]:
## approach 2
num = []
print("Provide a number 10 times. If you want't to skip a number then provide 0")
for i in range(10):
    num.append(int(input().strip()))
num = sorted(num)
for i in num:
    if num[i+1] - num[i] != 1:
        print("missing: ", i+1)
        break

Provide a number 10 times. If you want't to skip a number then provide 0

 1
 2
 3
 4
 0
 6
 7
 8
 9
 10

missing:  5

**2. print non repeatable characters from the string `Machine learning (ML) is the study of computer algorithms that can improve automatically through experience and by the use of data.`?**

In [5]:
s = 'Machine learning (ML) is the study of computer algorithms that can improve automatically through experience and by the use of data.'
set_s = set(s)
out = []
for i in set_s:
    if s.count(i) > 1:
        continue
    out.append(i)
print("Non repeatable characters are: "," ".join(out))

Non repeatable characters are:  ( ) . v L x b

**3. How do you find the largest and smallest number in array [12, 11, 10, 1, 55]?**

In [6]:
array = [12, 11, 10, 1, 55]
print("max: ", max(array))
print("min: ", min(array))

max:  55
min:  1

**4. A set `A` contains cities `mumbai, chennai, delhi, bangalore, hyderabad, kolkata` and another set `B` contains `bangalore, delhi, kolkata, madras`.**
Do the following operations:
1. Find the common cities in both set
2. combine both set `A` and `B`
3. provide cities of set `B` not present in `A`

In [7]:
set_A = {'mumbai', 'chennai', 'delhi', 'bangalore', 'hyderabad', 'kolkata'}
set_B = {'bangalore', 'delhi', 'kolkata', 'madras'}
print("Common cities: ", set_A.intersection(set_B) )
print("Combination of both set: ", set_A.union(set_B))
print("Cities of B not present in A", set_B.difference(set_A))

Common cities:  {'delhi', 'kolkata', 'bangalore'}
Combination of both set:  {'mumbai', 'hyderabad', 'chennai', 'delhi', 'kolkata', 'madras', 'bangalore'}
Cities of B not present in A {'madras'}

**5. print duplicate numbers in an list [1, 1, 1, 2, 5, 7, 7, 10, 0, 0]?**

In [9]:
a = [1, 1, 1, 2, 5, 7, 7, 10, 0, 0]
out = []
for i in set(a):
    if a.count(i) > 1:
        out.append(i)
print("Duplicate numbers: ", out)

Duplicate numbers:  [0, 1, 7]

**6. print the reverse of your first name but keep the last name in the correct order?**

In [15]:
name = "Binay Pradhan"
part_name = name.partition(" ")
f_name = part_name[0]
rev_name = []
length = len(f_name) -1 
while length >= 0:
    rev_name.append(f_name[length])
    length -= 1
print("reversed name: {} {}".format("".join(rev_name), part_name[-1]))

reversed name: yaniB Pradhan

**7. Find the distance between 2 points (5,4) and (3,9). The formula of distance is given by:**
     $ d_{\left(x1,y1\right), \left(x2,y2\right)}   = \sqrt {\left( x_{1}-x_{2}\right)^2 + \left(y_{1}-y_{2}\right)^2} $

In [22]:
import math
p = (5,4)
q = (3,9)
# approach 1
d1 = math.sqrt(pow((p[0] - q[0]), 2) + pow((p[1] - q[1]), 2))
print("Distance: ", d1)

# approach 2
d2 = pow((pow((p[0] - q[0]), 2) + pow((p[1] - q[1]), 2)), 1/2)
print("Distance: ", d2)

Distance:  5.385164807134504
Distance:  5.385164807134504

**8. You are given a string `s` that has lowercase English letters in its `even indices` and digits in its `odd indices`. replace the digit with xth character after the character x.**

example: `a1c2d0` becomes a**b**c**e**d**d**
* 1 becomes b, after a + 1th character is b
* 2 becomes e, after c + 2th character is e
* 0 becomes d, after d + 0th character is d

tip: see this [link](https://docs.python.org/3/library/functions.html#ord)

In [26]:
s = input("provide a string").strip()
out = []
length = len(s)
for i in range(0, length, 2):
    ascii_val = ord(s[i]) + int(s[i+1])
    char_val = chr(ascii_val)
    out.append(s[i] + char_val)
print("Decoded value is: ", "".join(out))

provide a string a1c2d0

Decoded value is:  abcedd